.app-wrapper {
  background-color: #eee4ab;
}
li:first-letter {
  text-transform: capitalize;
}
.current-city {
  position: relative;
  top: 75px;
  left: 75px;
}
.units {
  position: relative;
  left: 10px;
  top: -25px;
}
.units a {
  color: #495c83;

  text-decoration: none;
  position: relative;
}
.app-wrapper {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  margin-top: 20px;
  max-width: 700px;
}
.current-city {
  color: #495c83;
}
#search-form {
  max-width: 450px;
}

#button {
  background-color: #0078aa;
}
#date-time {
  list-style: none;
  color: #495c83;
  font-size: 20px;
  position: relative;

  top: 20px;
  left: 30px;
}
#typeTemp {
  font-size: 40px;
}

#weather-description {
  list-style: none;
  color: #0078aa;

  position: relative;

  top: 20px;
  left: -30px;
}
#week-days {
  color: #0078aa;
  position: relative;
  right: -40px;
  top: -20px;
}
#images-column {
  position: relative;
  left: -10px;
}
#footer {
  margin-bottom: -20px;
  font-size: 14px;
}
