body {
  background-image: URL(https://images.unsplash.com/photo-1529697216570-f48ef8f6b2dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmV1dHJhbCUyMHdlYXRoZXJ8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=1400&q=250);
}
.app-wrapper {
  background-color: #d5cabd;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  margin-top: 20px;
  max-width: 700px;
}
li:first-letter {
  text-transform: capitalize;
}
.current-city {
  position: relative;
  top: 75px;
  left: 50px;
}
.units {
  position: relative;
  left: 10px;
  top: -25px;
}
.units a {
  color: #495c83;

  text-decoration: none;
  position: relative;
}

.current-city {
  color: #495c83;
}

#search-form {
  max-width: 450px;
}

#button {
  background-color: #0078aa;
}
#date-time {
  list-style: none;
  color: #495c83;
  font-size: 20px;
  position: relative;

  top: 20px;
  left: 30px;
}
#typeTemp {
  font-size: 40px;
}

#weather-description {
  list-style: none;
  color: #495c83;

  position: relative;

  top: 30px;
  left: -30px;
}
#forecast {
  color: #0078aa;
  position: relative;
  right: -40px;
  top: -20px;
}
#images-column {
  position: relative;
  left: -10px;
}
#footer {
  margin-bottom: -20px;
  font-size: 14px;
}
